[submodule "1112_tarefas"]
	path = 1112_tarefas
	url = https://github.com/SupNL/1112_tarefas
[submodule "11-18_senhas"]
	path = 11-18_senhas
	url = https://github.com/SupNL/11-18_senhas.git
[submodule "11-25_senhas_criptografadas"]
	path = 11-25_senhas_criptografadas
	url = https://github.com/SupNL/11-25_senhas_criptografadas
[submodule "12-04_filmes"]
	path = 12-04_filmes
	url = https://github.com/SupNL/12-04_filmes.git
[submodule "12-17_login_app_senhas"]
	path = 12-17_login_app_senhas
	url = https://github.com/SupNL/12-17_login_app_senhas
[submodule "01-28_backend_node"]
	path = 01-28_backend_node
	url = https://github.com/SupNL/01-28_backend_node
